[data-component="home"]{
    .body {
        flex: 1 0 auto;
        margin-bottom: 4em; 

        .column {
            padding: 1em 0;
            &:first-child {
                border-top: 1px solid $lighter-grey;
            }
            &:last-child {
                border: 1px solid $lighter-grey;
            }
        }

        .icon {
            height: 100px;
            &:nth-child(2) {
                margin-left: 15px;
            }
        }
        
        .text {
            margin-top: .75em;
            font-family: Lato-Regular;
            font-size: 22px;
            color: $light-grey;
        }
    }
}