[data-component="id-sign-in"]{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.3); /* Black w/ opacity */
    justify-content: center;
    align-items: center;
    z-index: 10;

    .sign-in-box {
        width: 70%;
        padding: 15px 0 0 0;
        background-color: $white;
        border-radius: 8px;
        span {
            width: 80%;
            text-align: center;
            &.title {
                font-family: Lato-Regular;
                font-size: 18px;
                color: black;
            }
            &.description {
                margin-top: 7px;
                font-family: Lato-Regular;
                font-size: 13px;
                color: $light-grey;
            }
        }
        input {
            width: 85%;
            margin-top: 10px;
            padding: 5px;
        }
        .buttons {
            width: 100%;
            margin-top: 15px;
            border-top: 1px solid $light-grey;
            button {
                width: 100%;
                padding: 10px;
                background-color: $white;
                border: none;
                font-family: Lato-Regular;
                font-size: 18px;
                color: $light-grey;
                &:nth-child(1) {
                    border-radius: 0 0 0 8px;
                }
                &:nth-child(2) {
                    border-left: 1px solid $light-grey;
                    border-radius: 0 0 8px 0;
                }
            }
        }
    }
}