[data-component="kid-history-measurement"]{
    .body {
        flex: 1 0 auto; 

        .nav-arrow {
            position: absolute;
            top: 40%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: Nexa-Light;
            img {
                width: 15px;
            }
            &.prev {
                left: 5%;
            }
            &.next {
                right: 5%;
            }
        } // .nav-arrow

        .glucose-bottle {
            width: 100%;
            display: flex;
            justify-content: center;
            img {
                height: 15em;
            }
        } // .glucose-bottle

        .line {
            width: 100%;
            display: flex;
            justify-content: center;
            padding: 1.25em 0;
            img {
                width: 50%;
                height: 1px;
            }
        } // .glucose-bottle

        .message {
            padding: 1em 0 0 0;
            font-family: Lato-Regular;
            font-size: 14px;
            color: $light-grey;
        } // .message

        .glucose-data {
            .title {
                font-family: Lato-Regular;
                font-size: 14px;
                color: $red;   
            }
            .value {
                color: $red;
                font-family: Lato-Black;
                font-size: 50px;
                font-weight: bold;
            }
            span {
                margin-top: .25em;
                font-family: Lato-Regular;
                font-size: 12px;
                color: $light-grey;
                &.time {
                    margin-left: 4%;
                }
            }
        } // .glucose-data

    } // .body

} // [data-component]