.body {
    justify-content: flex-end;
    
    img {
        height: 30vh;
    }

    .username {
        margin-top: 5vh;
        font-family: Lato;
        font-weight: bold;
        font-size: 28px;
        color: $red;
    }

    .user-details {
        width: 100%;
        margin-top: 5vh;

        .row {
            padding: 2vh 0;
            border-top: 1px solid $light-grey;

            span {
                font-family: Lato-Regular;
                font-size: 18px;
                color: $light-grey;
                width: 50%;
                &:nth-child(1) {
                    margin-left: 50px;
                }
                &:nth-child(2) {
                }
            }
        }
    }
}