.glucose {
    width: 100%;
    display: flex;
    justify-content: center;
    img {
        height: 340px;
    }
}

.line {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px 0;
    img {
        width: 120px;
    }
}

.glucose-value {
    .title {
        color: $red;
        font-family: Lato;
    }

    .value {
        color: $red;
        font-family: Lato-Black;
        font-size: 50px;
        font-weight: bold;
    }
}