@import '_variables';
@import '_colors';
@import '_fonts';
@import '_mixins';
@import '_mediaqueries';
@import '_normalize';
@import 'pages/layout.scss';

.page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none!important;
}

.visible {
    display: block!important;
}

.setup {
    @import 'pages/setup.scss';
}

.login {
    @import 'pages/login.scss';
}

.monitor {
    @import 'pages/monitor.scss';
}