<div class="monitor page hidden">
    <div class="header">
        <div class="left-action-btn"></div>
        <div class="title">diabitor</div>
        <div class="right-action-btn"></div>
    </div>
    <div class="body">
        <img id="monitor-btn" src="assets/monitor-circle.png">
    </div>
    <div class="footer">
        <div class="monitor-tab column match-parent-height">
            <img src="assets/heart-red.png" alt="">
            <span class="red">Monitor</span>
        </div>
        <div class="history-tab column match-parent-height">
            <img src="assets/analytics-grey.png" alt="">
            <span class="grey">History</span>
        </div>
        <div class="profile-tab column match-parent-height">
            <img src="assets/user-grey.png" alt="">
            <span class="grey">Profile</span>
        </div>
    </div>
</div>