<div class="parent-history page hidden">
    <div class="header">
        <div class="left-action-btn"></div>
        <div class="title">diabitor</div>
        <div class="right-action-btn"></div>
    </div>
    <div class="body">
        <div class="row match-parent-width measurements">
            <div id="measurement-1" class="column">
                <img class="glucose-bottle" src="assets/tube-medicine.png" alt="">
                <span class="value">8.2</span>
                <div class="row">
                    <span class="date">8/2</span>
                    <span class="day">14:26</span>
                </div>
            </div>
            <div id="measurement-2"  class="column">
                <img class="glucose-bottle" src="assets/tube-ok.png" alt="">
                <span class="value">5.2</span>
                <div class="row">
                    <span class="date">8/2</span>
                    <span class="day">20:22</span>
                </div>
            </div>
            <div id="measurement-3"  class="column">
                <img class="glucose-bottle" src="assets/tube-ok.png" alt="">
                <span class="value">4.7</span>
                <div class="row">
                    <span class="date">8/2</span>
                    <span class="day">11:35</span>
                </div>
            </div>
        </div>
        <div class="row match-parent-width graph">
            <img src="assets/graph-date-glucose.png" alt="">
        </div>
    </div>
    <div class="footer">
        <div class="parent-status-tab column match-parent-height">
            <img src="assets/heart-grey.png" alt="">
            <span class="grey">Status</span>
        </div>
        <div class="parent-history-tab column match-parent-height">
            <img src="assets/analytics-red.png" alt="">
            <span class="red">History</span>
        </div>
    </div>
</div>