<div class="sign-up page hidden">
    <div class="header">
        <div class="left-action-btn"></div>
        <div class="title">diabitor</div>
        <div class="right-action-btn"></div>
    </div>
    <div class="body">
        <div class="textarea">
            <h2>Sign up</h2>
        </div>
        <class class="boxed-textarea">Full name</class>
        <class class="boxed-textarea">E-mail</class>
        <class class="boxed-textarea">Password</class>
        <div class="signup-button">Create your account</div>
        <p></p>
        <class class="disclaimer-text">By creating an account, you agree to our <a href="#">Terms</a></class>
        <class class="disclaimer-text">Already ahve an account? <a href="#">Sign in</a></class>
    </div>
</div>