<div class="header">
    <div class="left-action-btn"></div>
    <div class="title">diabitor</div>
    <div class="right-action-btn"></div>
</div>
<div class="body">
    <div class="row match-parent-width measurements">
        <div class="column meas-1">
            <img class="glucose-bottle" src="assets/tube-medicine.png" alt="">
            <span class="value">8.2</span>
            <div class="row">
                <span class="date">8/2</span>
                <span class="day">14:26</span>
            </div>
        </div>
        <div class="column meas-2">
            <img class="glucose-bottle" src="assets/tube-ok.png" alt="">
            <span class="value">5.2</span>
            <div class="row">
                <span class="date">8/2</span>
                <span class="day">20:22</span>
            </div>
        </div>
        <div class="column meas-3">
            <img class="glucose-bottle" src="assets/tube-ok.png" alt="">
            <span class="value">4.7</span>
            <div class="row">
                <span class="date">8/2</span>
                <span class="day">11:35</span>
            </div>
        </div>
    </div>
    <div class="row match-parent-width graph">
        <img src="assets/graph-date-glucose.png" alt="">
    </div>
</div>
<div class="footer">
    <div class="monitor-tab column match-parent-height">
        <img src="assets/heart-grey.png" alt="">
        <span class="grey">Monitor</span>
    </div>
    <div class="history-tab column match-parent-height">
        <img src="assets/analytics-red.png" alt="">
        <span class="red">History</span>
    </div>
    <div class="profile-tab column match-parent-height">
        <img src="assets/user-grey.png" alt="">
        <span class="grey">Profile</span>
    </div>
</div>