<div class="container row match-parent-width">
    <div class="icon column match-parent-height">
        <span class="title">diabitor</span>
        <div class="kid-face">
            <img src="assets/kid.png" alt="">
        </div>
    </div>
    <div class="message match-parent-height">
        <div class="inner-wrapper column match-parent-height">
            <span class="title">LUNCH TIME!</span>
            <span class="subtitle">Don't forget to check!</span>
        </div>
    </div>
    <div class="datetime">
        <span class="date">04/05</span>
        <span class="time">16:30</span>
    </div>
</div>