<div class="header">
    <div class="left-action-btn"></div>
    <div class="title">diabitor <span class="kid subtitle">kid</span></div>
    <div class="right-action-btn"></div>
</div>

<div class="body">
    <img id="monitor-btn" src="assets/monitor-btn.png">
</div>

<div class="footer menu">
    <div class="kid-monitor-tab column match-parent-height">
        <img src="assets/heart-red.png" alt="">
        <span class="red">Monitor</span>
    </div>
    <div class="kid-history-tab column match-parent-height">
        <img src="assets/analytics-grey.png" alt="">
        <span class="grey">History</span>
    </div>
</div>

<div class="modal hidden">
    <div class="container column">
        <div class="message">Are you wearing your ring?</div>
        <button class="btn red submit">YES</button>
    </div>
</div>