<div class="header">
    <div class="left-action-btn">
        <img src="assets/left-arrow.png" alt="">
    </div>
    <div class="title">diabitor</div>
    <div class="right-action-btn"></div>
</div>
<div class="body">
    <div class="glucose-bottle">
        <img src="assets/glucose.png" alt="">
    </div>
    <div class="line">
        <img src="assets/line.png" alt="">
    </div>
    <div class="glucose-data">
        <div class="column">
            <span class="title">glucose (mmol/l)</span>
            <span class="value">8.2</span>
        </div>
    </div>
</div>