<div class="header">
    <div class="left-action-btn">
        <img src="assets/left-arrow.png" alt="">
    </div>
    <div class="title">diabitor</div>
    <div class="right-action-btn"></div>
</div>
<div class="body">
    <div class="glucose-bottle">
        <img src="" alt="">
    </div>
    
    <div class="glucose-data transparent">
        <div class="line">
            <img src="assets/line.png" alt="">
        </div>
        <div class="column">
            <span class="title">glucose (mmol/l)</span>
            <span class="value">8.2</span>
        </div>
    </div>
    
    <div class="glucose-message transparent">
        <div class="line">
            <img src="assets/line.png" alt="">
        </div>
        <div class="column">
            <div class="row">
                <div class="ghost-img">
                    <img src="assets/ghost.png" alt="">
                </div>
                <span class="message">MEDICINE TIME!</span>
            </div>
        </div>
    </div>
</div>