<div class="header">
    <div class="left-action-btn">
        <img src="assets/left-arrow.png" alt="">
    </div>
    <div class="title">diabitor <span class="parent subtitle">parent</span></div>
    <div class="right-action-btn"></div>
</div>

<div class="body">
    <div class="glucose-bottle">
        <img src="assets/tube-high.png" alt="">
    </div>
    <span class="message">MEDICINE!</span>
    <div class="line">
        <img src="assets/line.png" alt="">
    </div>
    <div class="glucose-data">
        <div class="column">
            <span class="title">glucose (mmol/l)</span>
            <span class="value">8.2</span>
        </div>
        <div class="row">
            <span class="date">8/2</span>
            <span class="time">14:26</span>
        </div>
    </div>
    <div id="prev" class="nav-arrow prev">
        <img src="assets/left-arrow.png" alt="">
    </div>
    <div class="nav-arrow next">
        <img src="assets/right-arrow.png" alt="">
    </div>
</div>

<div class="footer menu">
    <div class="parent-status-tab column match-parent-height">
        <img src="assets/heart-grey.png" alt="">
        <span class="grey">Status</span>
    </div>
    <div class="parent-history-tab column match-parent-height">
        <img src="assets/analytics-red.png" alt="">
        <span class="red">History</span>
    </div>
    <div class="parent-settings-tab column match-parent-height">
        <img src="assets/settings-grey.png" alt="">
        <span class="grey">Settings</span>
    </div>
</div>