<div class="header">
    <div class="left-action-btn"></div>
    <div class="title">diabitor</div>
    <div class="right-action-btn"></div>
</div>

<div class="body">
    <div class="kid-icon">
        <img src="assets/kid.png" alt="">
    </div>
    <div class="kid-details">
        <div class="row">
            <div class="detail-type">
                <span>Name</span>
            </div>
            <div class="input">
                <input class="setup-name" type="text" name="name" value="Nick Johnson">
            </div>
        </div>
        <div class="row">
            <div class="detail-type">
                <span>Age</span>
            </div>
            <div class="input">
                <input class="setup-age" type="text" name="age" value="11">
            </div>
        </div>
        <div class="row">
            <div class="detail-type">
                <span>Regimen Type</span>
            </div>
            <div class="input">
                <input class="setup-regimen" type="text" name="regimen" value="MDI">
            </div>
        </div>
        <div class="row">
            <div class="detail-type">
                <span>I:C</span>
            </div>
            <div class="input">
                <input class="setup-ic" type="text" name="ic" value="1:50">
            </div>
        </div>
    </div>
</div>

<div class="footer">
    <button class="btn red submit">OK</button>
</div>