<div class="header">
    <div class="left-action-btn"></div>
    <div class="title">diabitor <span class="parent subtitle">parent</span></div>
    <div class="right-action-btn"></div>
</div>

<div class="body">
    
    <div class="measurements match-parent-width">
        <span class="title">
            last-3 measurements
        </span>
        <div class="row">
            <div class="column meas-1">
                <img class="glucose-bottle" src="assets/tube-high.png" alt="">
                <span class="value">8.2</span>
                <div class="row">
                    <span class="date">8/2</span>
                    <span class="time">14:26</span>
                </div>
            </div>
            <div class="column meas-2">
                <img class="glucose-bottle" src="assets/tube-ok.png" alt="">
                <span class="value">5.2</span>
                <div class="row">
                    <span class="date">8/2</span>
                    <span class="time">20:22</span>
                </div>
            </div>
            <div class="column meas-3">
                <img class="glucose-bottle" src="assets/tube-ok.png" alt="">
                <span class="value">4.7</span>
                <div class="row">
                    <span class="date">8/2</span>
                    <span class="time">11:35</span>
                </div>
            </div>
        </div>
    </div>
    
    <graph-parent class="row match-parent-width graph">
        <span class="title">
            latest measurements
        </span>
    </graph-parent>
</div>

<div class="footer menu">
    <div class="parent-status-tab column match-parent-height">
        <img src="assets/heart-grey.png" alt="">
        <span class="grey">Status</span>
    </div>
    <div class="parent-history-tab column match-parent-height">
        <img src="assets/analytics-red.png" alt="">
        <span class="red">History</span>
    </div>
    <div class="parent-settings-tab column match-parent-height">
        <img src="assets/settings-grey.png" alt="">
        <span class="grey">Settings</span>
    </div>
</div>