<div class="header">
    <div class="left-action-btn"></div>
    <div class="title">diabitor <span class="parent subtitle">parent</span></div>
    <div class="right-action-btn">
        <img class="edit-btn" src="assets/edit.png" alt="">
        <img class="save-btn hidden" src="assets/save.png">
    </div>
</div>

<div class="body">
    <div class="kid-icon">
        <img src="assets/kid.png" alt="">
    </div>
    <div class="kid-details">
        <div class="row">
            <div class="detail-type">
                <span>Name</span>
            </div>
            <div class="input hidden">
                <input class="settings-input-name" type="text" name="name" value="Nick Johnson">
            </div>
            <div class="detail-value">
                <span class="settings-name">Nick Johnson</span>
            </div>
        </div>
        <div class="row">
            <div class="detail-type">
                <span>Age</span>
            </div>
            <div class="input hidden">
                <input class="settings-input-age" type="text" name="age" value="11">
            </div>
            <div class="detail-value">
                <span class="settings-age">11</span>
            </div>
        </div>
        <div class="row">
            <div class="detail-type">
                <span>Regimen Type</span>
            </div>
            <div class="input hidden">
                <input class="settings-input-regimen" type="text" name="regimen" value="MDI">
            </div>
            <div class="detail-value">
                <span class="settings-regimen">MDI</span>
            </div>
        </div>
        <div class="row">
            <div class="detail-type">
                <span>I:C</span>
            </div>
            <div class="input hidden">
                <input class="settings-input-ic" type="text" name="ic" value="1:50">
            </div>
            <div class="detail-value">
                <span class="settings-ic">1:50</span>
            </div>
        </div>
        <div class="row">
            <div class="detail-type">
                <span>Teen Mode</span>
            </div>
            <div class="toggle-btn">
                <label class="switch">
                    <input class="settings-teen" type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
    </div>
</div>

<div class="footer menu">
    <div class="parent-status-tab column match-parent-height">
        <img src="assets/heart-grey.png" alt="">
        <span class="grey">Status</span>
    </div>
    <div class="parent-history-tab column match-parent-height">
        <img src="assets/analytics-grey.png" alt="">
        <span class="grey">History</span>
    </div>
    <div class="parent-settings-tab column match-parent-height">
        <img src="assets/settings-red.png" alt="">
        <span class="red">Settings</span>
    </div>
</div>