<div class="header">
    <div class="left-action-btn">
        <img class="back-btn" src="assets/left-arrow-red.png" alt="">
    </div>
    <div class="title">diabitor</div>
    <div class="right-action-btn"></div>
</div>

<div class="body">
    <div class="diet-icon">
        <img src="assets/dose.png" alt="">
    </div>
    <div class="doses">
        <span>doses</span>
    </div>
    <div class="dose-details">
        <div class="row">
            <div class="detail-type">
                <img src="assets/breakfast.png" alt="">
                <span>Breakfast</span>
            </div>
            <div class="input">
                <input class="setup-breakfastdose" type="text" name="breakfast" value="1">
            </div>
        </div>
        <div class="row">
            <div class="detail-type">
                <img src="assets/lunch.png" alt="">
                <span>Lunch</span>
            </div>
            <div class="input">
                <input class="setup-lunchdose" type="text" name="lunch" value="2">
            </div>
        </div>
        <div class="row">
            <div class="detail-type">
                <img src="assets/dinner.png" alt="">
                <span>Dinner</span>
            </div>
            <div class="input">
                <input class="setup-dinnerdose" type="text" name="dinner" value="1">
            </div>
        </div>
        <div class="row">
            <div class="detail-type">
                <img src="assets/bedtime.png" alt="">
                <span>Bed Dose</span>
            </div>
            <div class="input">
                <input class="setup-beddose" type="text" name="bedtime" value="2">
            </div>
        </div>
    </div>
</div>

<div class="footer">
    <button class="btn red submit">OK</button>
</div>