<div class="header">
    <div class="left-action-btn">
        <img class="back-btn" src="assets/left-arrow.png" alt="">
    </div>
    <div class="title">diabitor <span class="parent subtitle">parent</span></div>
    <div class="right-action-btn"></div>
</div>

<div class="body">
    <div class="diet-icon">
        <img src="assets/diet.png" alt="">
    </div>
    <div class="diet-times">
        <span>meal times</span>
    </div>
    <div class="diet-details">
        <div class="row">
            <div class="detail-type">
                <img src="assets/breakfast.png" alt="">
                <span>Breakfast</span>
            </div>
            <div class="input">
                <input class="setup-breakfasttime" type="time" name="breakfast" value="06:10">
            </div>
        </div>
        <div class="row">
            <div class="detail-type">
                <img src="assets/lunch.png" alt="">
                <span>Lunch</span>
            </div>
            <div class="input">
                <input class="setup-lunchtime" type="time" name="lunch" value="12:00">
            </div>
        </div>
        <div class="row">
            <div class="detail-type">
                <img src="assets/dinner.png" alt="">
                <span>Dinner</span>
            </div>
            <div class="input">
                <input class="setup-dinnertime" type="time" name="dinner" value="18:00">
            </div>
        </div>
        <div class="row">
            <div class="detail-type">
                <img src="assets/bedtime.png" alt="">
                <span>Bedtime</span>
            </div>
            <div class="input">
                <input class="setup-bedtime" type="time" name="bedtime" value="21:30">
            </div>
        </div>
    </div>
</div>

<div class="footer">
    <button class="btn red submit">OK</button>
</div>