<div class="header">
    <div class="left-action-btn"></div>
    <div class="title">diabitor</div>
    <div class="right-action-btn"></div>
</div>
<div class="body">
    <div class="kid-icon">
        <img src="assets/parent-kid.png" alt="">
    </div>
    <span class="kid-name">Nick</span>
    <div class="line">
        <img src="assets/line.png" alt="">
    </div>
    <div class="glucose-data">
        <div class="column">
            <span class="title">glucose (mmol/l)</span>
            <span class="value">8.2</span>
            <div class="row">
                <span class="date">8/2</span>
                <span class="day">20:22</span>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="parent-status-tab column match-parent-height">
        <img src="assets/heart-red.png" alt="">
        <span class="red">Status</span>
    </div>
    <div class="parent-history-tab column match-parent-height">
        <img src="assets/analytics-grey.png" alt="">
        <span class="grey">History</span>
    </div>
</div>