<div class="header">
    <div class="left-action-btn"></div>
    <div class="title">diabitor</div>
    <div class="right-action-btn">
        <img id="edit-btn" src="assets/edit.png" alt="">
        <img id="save-btn" src="assets/save.png" style="visibility: hidden;">
    </div>
</div>

<div class="body">
    <div class="kid-icon">
        <img src="assets/kid.png" alt="">
    </div>
    <div class="kid-details">
        <div class="row">
            <div class="detail-type">
                <span>Name</span>
            </div>
            <div class="input">
                <input class="settings-name" type="text" name="name" value="Nick Johnson">
            </div>
            <div class="detail-value hidden">
                <span class="settings-name">Nick Johnson</span>
            </div>
        </div>
        <div class="row">
            <div class="detail-type">
                <span>Age</span>
            </div>
            <div class="input">
                <input id="setup-age" type="text" name="age" value="11">
            </div>
            <div class="detail-value hidden">
                <span class="settings-age">11</span>
            </div>
        </div>
        <div class="row">
            <div class="detail-type">
                <span>Regimen Type</span>
            </div>
            <div class="input">
                <input id="setup-regimen" type="text" name="regimen" value="MDI">
            </div>
            <div class="detail-value hidden">
                <span class="settings-regimen">MDI</span>
            </div>
        </div>
        <div class="row">
            <div class="detail-type">
                <span>I:C</span>
            </div>
            <div class="input">
                <input id="setup-ic" type="text" name="ic" value="1:50">
            </div>
            <div class="detail-value hidden">
                <span class="settings-ic">1:50</span>
            </div>
        </div>
    </div>
</div>

<div class="footer">
    <button class="btn red">OK</button>
</div>