<div class="header">
    <div class="left-action-btn">
        <img id="cancel-btn" src="assets/cancel.png" style="visibility: hidden;">
    </div>
    <div class="title">diabitor</div>
    <div class="right-action-btn">
        <img id="edit-btn" src="assets/edit.png" alt="">
        <img id="save-btn" src="assets/save.png" style="visibility: hidden;">
    </div>
</div>
<div class="body">
    <img src="assets/ghost-circle.png">
    <span class="username">Hi, Nick!</span>
    <div class="user-details">
        <div class="row">
            <span>Name</span>
            <span>Nick Johnson</span>
        </div>
        <div class="row">
            <span>Age</span>
            <span>11</span>
        </div>
        <div class="row">
            <span>Gender</span>
            <span>Male</span>
        </div>
        <div class="row">
            <span>ID</span>
            <span>JKL324</span>
        </div>
    </div>
</div>
<div class="footer">
    <div class="monitor-tab column match-parent-height">
        <img src="assets/heart-grey.png" alt="">
        <span class="grey">Monitor</span>
    </div>
    <div class="history-tab column match-parent-height">
        <img src="assets/analytics-grey.png" alt="">
        <span class="grey">History</span>
    </div>
    <div class="profile-tab column match-parent-height">
        <img src="assets/user-red.png" alt="">
        <span class="red">Profile</span>
    </div>
</div>