<div class="header">
    <div class="left-action-btn"></div>
    <div class="title">diabitor</div>
    <div class="right-action-btn"></div>
</div>
<div class="body">
    <div class="textarea">
        <h2>Sign up</h2>
    </div>
        <input class="input-text" type="text" placeholder="Full name"/>
        <input class="input-text" type="text" placeholder="E-mail"/>
        <input class="input-text" type="text" placeholder="Password"/>
    <div id="signup-btn">Create your account</div>
    <p></p>
    <div class="disclaimer-text">By creating an account, you agree to our <a href="javascript:void(0)">Terms</a></div>
    <div class="disclaimer-text">Already ahve an account? <a id="signin-btn" href="javascript:void(0)">Sign in</a></div>
</div>